.api-feedback-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: sans-serif;
}

.loading-message {
  color: #010406; /* Blue */
  /* font-style: italic; */
  /* font-weight: bold; */
}

.error-message {
  color: #e74c3c; /* Red */
  /* font-weight: bold; */
}

.no-data-message {
  color: #95a5a6; /* Gray */
}
