/* Groups table column width styles */
:global(.groupPageGroupsTable) :global(table) {
  table-layout: fixed;
  width: 100%;
}

/* Group column - 40% width */
:global(.groupPageGroupsTable) :global(table th:nth-child(1)),
:global(.groupPageGroupsTable) :global(table td:nth-child(1)) {
  width: 55%;
}

/* Type column - 15% width */
:global(.groupPageGroupsTable) :global(table th:nth-child(2)),
:global(.groupPageGroupsTable) :global(table td:nth-child(2)) {
  width: 15%;
}

/* Members column - 15% width */
:global(.groupPageGroupsTable) :global(table th:nth-child(3)),
:global(.groupPageGroupsTable) :global(table td:nth-child(3)) {
  width: 15%;
  /* text-align: center; */
}

/* Date of Creation column - 30% width */
:global(.groupPageGroupsTable) :global(table th:nth-child(4)),
:global(.groupPageGroupsTable) :global(table td:nth-child(4)) {
  width: 15%;
  text-align: right;
}

.groupsTableWrapper {
  width: 100%;
}
